{#

/**
 * @file
 * Displays the form for updating a credit card number for a subscription.
 */
#}

{% if form['existing']['#last_four'] %}
  <p>{{ 'We currently have the following credit card on file:'|t }}</p>
  <p>{{ form['existing'] }}</p>
  <p>{{ 'To change your credit card, update your information below:'|t }}</p>
{% else %}
  <p>{{ 'No credit card currently on file.'|t }}</p>
{% endif %}

{{ form|without('existing') }}
